<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

<%= will_paginate @calendar_events, renderer: BootstrapPagination::Rails %>

<div class="panel panel-default">
  <% if @conversations.count != 0 %>
    <table class="table table-hover" id=calendar>
      <tbody>
        <% @calendar_events.sort_by{|t| t.start_at}.each_with_index do |event, i| %>
          <% cssId = "list-#{i}"%>
          <%= render partial: "layouts/event_row", locals: {event: event, id: cssId}%>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
